@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --p-gray: #00000088;
    --p-cyan: #66CAA5;
    --h-title: #BD92CE;

    --border: #BD92CE;
    --button: #BD92CE;
    --input-bg: #DEC8E7;
    --input-placeholder: #5E4967;

    --dot-bg: #F1CD21;
}

* {
    padding: 0;
    margin: 0;
    color-scheme: light;
}

body {
    width: 100%;
}

h2 {
    font-family: 'Roboto', Sans-Serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 134%;
}

h3 {
    font-family: 'Roboto', Sans-Serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 132%;
}

p, .p1 {
    font-family: 'Roboto', Sans-Serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.p1-strong {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 112%;
}

.p-gray {
    color: var(--p-gray);
}

.p-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none !important;
}


/* Стиль для ошибки инпута */
input.error {
    animation: inputError 2s ease-in;
}

/* Анимация ошибки */
@keyframes inputError {
    0% {
        border: 1px solid var(--border);
    }

    2% {
        border: 1px solid #F40B0B;
    }

    100% {
        border: 1px solid var(--border);
    }
}